@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* dark green -> 014e01/191A19 , medium green -> 1E5128, light green -> 4E9F3D and yellowish -> D8E9A8 */


/* heading */
.montserrat-font {
  font-family: "Montserrat", sans-serif;
}
/* rest */
.inter-font {
  font-family: "Inter", sans-serif;
}

.container{
    max-width: 1220px;
    margin: auto;
}

.debug{
  border: 2px solid red;
}

.about_us_line{
  border: 3px solid #1E5128;
  border-radius: 20px;
}

.submenu > ul > li:hover > a{
  color: #1E5128;
}

.dropdown_menu{
  position: relative;
}

.dropdown_menu::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #191A19;
  transition: width 0.3s ease;
}

.dropdown_menu:hover::before{
  width: 24px;
}


/* banner slider btn style */
.swiper-pagination {
  overflow: visible !important;
}

.swiper-pagination-bullet {
  overflow: visible;
  position: relative;
}
.swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  background-color: #1E5128;
  border-radius: 50%;
  position: relative;
}

.swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -4px;
  width: 22px;
  height: 22px;
  border: 2px solid #191A19;
  border-radius: 50%;
}

@keyframes move {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}

@keyframes move2 {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
} 


.cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% { border-color: transparent; }
}
.cursor2 {
  animation: blinky 1s step-end infinite;
}

/* banner images */
.img-left {
  animation: moveRight 4s ease-in-out infinite alternate;
}

.img-right {
  animation: moveLeft 4s ease-in-out infinite alternate;
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(60px);
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-60px);
  }
}

/* .bannerLeftImg {
  opacity: 0;
  transform: translateX(-400px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.bannerLeftImg.show {
  opacity: 1;
  transform: translateX(0);
} */